:root {
  --font-size: clamp(14.5px, 1.5vw, 18px);
  --bg-col-hf: #2e3532;
  --text-col-hf: white;
  --bg-col: #f1f1eb;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('https://github.com/Sicilanguageist/Sicilanguageist.github.io/blob/main/fonts/STIXTwoText-Italic.woff2') format('woff2');
  font-weight: 400 700; /* weight range supported */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('https://github.com/Sicilanguageist/Sicilanguageist.github.io/blob/main/fonts/STIXTwoText.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Stix Two Text", "Gentium Plus", "Noto Serif", "Cambria", serif !important;
  font-size-adjust: 0.536 !important;
}

body {
  background: var(--bg-col);
  color: black;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  /* full viewport height */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  /* pushes the footer to the bottom */
}

main {
  width: clamp(300px, 80%, 1000px);
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 7%);
  border-radius: 0.3rem;
}

h1,
h2,
h3,
h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: calc((var(--font-size)) * 2);
}

h2 {
  font-size: calc((var(--font-size)) * 1.5);
}

h3 {
  font-size: calc((var(--font-size)) * 1.2);
}

h4 {
  font-size: calc((var(--font-size)) * 1.05);
}

p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: var(--font-size);
}

li {
  font-size: var(--font-size);
  margin-left: 5%;
}

a.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #f1f1eb;
  color: black;
  text-decoration: none;
  border-radius: 0.25rem;
}

a.button:hover {
  background: #ccc;
}

.smallcaps {
  font-variant: small-caps;
}

.example {
  display: block;
  background-color: var(--bg-col);
  border-radius: 0.3rem;
  padding: 1vw;
}

.example p {
  margin-left: 15%;
  margin-right: 5%;
  text-indent: -10%;
  margin-top: 0;
  margin-bottom: 0;
}

.example#avviso p {
  margin-left: 5%;
  margin-right: 5%;
  text-indent: 0% !important;
  margin-top: 0;
  margin-bottom: 0; 
  padding: 1vw;
}

.impt {
  font-weight: bold;
  color: #93A302;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #cdcdc9;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-size: var(--font-size);
}

th {
  background-color: #f1f1eb;
  font-variant: small-caps;
}

/* Make body take full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Flex container for layout */
body {
  display: flex;
  flex-direction: column;
}

/* Make content area expand to fill space */
.content {
  flex: 1;
}

ul li {
  list-style-type: disc;
}

@media (max-width: 500px) {
  .velar-table * {
    font-size: 12px !important;
  }
}

.prorth {
  font-style: italic;
  font-weight: bold;
}

nav {
  background-color: #2e3532;
  padding: 3vh;
}

.header-content, .footer-content {
  text-align: center;
  color: white;
  font-weight: bold;
}

.header-content a, .footer-content a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.header-content a:hover, .footer-content a:hover {
  color: #93A302;
  font-weight: bold;
  text-decoration: underline;
}

img.social-icon {
  height: auto;
  width: var(--font-size);
}
